<div class="form container my-4 w-50 ">
  <h2 class="form__text text-center my-4">Сделать заказ</h2>
  <form class="d-flex flex-column justify-content-between form_to_fill" id="order">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md-6 col-lg-6 ">
        <div class="mb-3 ">
          <label for="product_title" class="form-label">Товар</label>
          <input type="text" class="form-control" id="product_title">
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 ">
        <div class="mb-3 ">
          <label for="comment" class="form-label">Комментарий к заказу</label>
          <input type="text" class="form-control" id="comment">
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 ">
        <div class="mb-3 ">
          <label for="surname" class="form-label">Фамилия</label>
          <input type="text" class="form-control" id="surname">
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="mb-3">
          <label for="phone" class="form-label">Телефон</label>
          <input type="tel" class="form-control" id="phone">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="country" class="form-label">Страна</label>
          <input type="text" class="form-control" id="country">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="mb-3">
          <label for="index" class="form-label">Индекс</label>
          <input type="text" class="form-control" id="index">
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="address" class="form-label">Адрес</label>
          <input type="text" class="form-control" id="address">
        </div>
      </div>
    </div>
    <a href="#order" class="btn form-button btn-primary hvr-shrink" id="button" style="width: 140px">Отправить</a>
  </form>
</div>
